<h1>Todo App Using Firebase</h1>

<input type="text" [(ngModel)]="taskReq.name">
<input type="checkbox" [(ngModel)]="taskReq.isCompleted">

<button (click)="addTask($event)">Add Data</button>

<!-- Data -->
<table border="1" style="margin-top: 10px;">
  <thead>
    <tr>
      <td>No.</td>
      <td>Name</td>
      <td>Is Completed</td>
      <td>Actions</td>
    </tr>
  </thead>
  <ng-container *ngIf="tasks.length > 0">
    <tbody>
      <tr *ngFor="let task of tasks; let i = index;"> 
        <td>{{ i + 1 }}</td>
        <td>
          <form (submit)="editTask($event, task.wid)">
            <ng-container *ngIf="!task.isUpdateHandlerClicked">
              {{ task.name }}
            </ng-container>
            <ng-container *ngIf="task.isUpdateHandlerClicked">
              <input type="text" [(ngModel)]="task.name" name="task">
            </ng-container>         
          </form>
        </td>
        <td>
          <ng-container *ngIf="!task.isUpdateHandlerClicked">
            {{ task.isCompleted }}
          </ng-container>
          <ng-container *ngIf="task.isUpdateHandlerClicked">
            <input type="checkbox" (change)="editTask($event, task.wid)" [(ngModel)]="task.isCompleted" name="isCompleted">
          </ng-container>         
        </td>
        <td>
          <button (click)="deleteTask($event, task.wid)">Delete</button>
          <button (click)="updateTask($event, task.wid)">
            {{ !task.isUpdateHandlerClicked ? 'Update' : 'Cancel' }}
          </button>
        </td>
      </tr>
    </tbody>
  </ng-container>
</table>